include CHANGELOG.rst
include LICENSE.txt
include README.rst
include requirements/base.in
recursive-include repo_tools_data_schema *.html *.png *.gif *.js *.css *.jpg *.jpeg *.svg *.py
include requirements/constraints.txt
